<header class="header-default">
  <div class="_container _flex _ai-c _gap-32">
    <a ng-href="#/" class="_image header-default-logo">
      <img src="assets/images/logo.png" alt="">
    </a>
    <ul class="_flex-full _flex _ai-c _gap-16">
      <li class="_flex _ai-c">
        <span>Catalog</span>
        <i class="material-icons">arrow_drop_down</i>
      </li>
      <li>
        Games
      </li>
      <li class="_flex _ai-c">
        <span>News</span>
        <i class="material-icons">arrow_drop_down</i>
      </li>
    </ul>
    <nav>
      <ul class="_flex _ai-c _gap-16">
        <li>
          <button>
            <i class="material-icons">search</i>
          </button>
        </li>
        <li>
          <button>
            <i class="material-icons">bookmark</i>
          </button>
        </li>
        <li>
          <button>
            <i class="material-icons">account_circle</i>
          </button>
        </li>
      </ul>
    </nav>
  </div>
</header>

<div style="height: 0; padding-bottom: 65px;"></div>