._button-1,
._button-2,
._button-link {
  text-align: center;
  font-weight: 700;
  text-transform: uppercase;
  padding: .750rem 1rem;
  border-width: 2px;
  border-style: solid;
}

._button-1 {
  border-color: transparent;
  background-color: #ff640a;
  color: #000;
}
._button-2 {
  border-color: #ff640a;
  background-color: transparent;
  color: #ff640a;
}
._button-link {
  border-color: transparent;
  background-color: transparent;
  color: #a0a0a0;
}